.address1{
  width: 100%;
  margin-bottom: 8px;
  font-weight: 600;
}

.field-row{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e9ef;
  border-radius: 6px;
  min-height: 80px;
  resize:vertical;
  height: 38px;
}

.address-topic{
  align-items: start;
}

.last-line{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.form-actions{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}